@{
    ViewData["Title"] = "PDF Reader";
}

<div class="text-center">
    <h1 class="pb-5">Upload PDF File</h1>

    <form id="pdfForm" class="pb-5">
        <input type="file" name="pdfFile" id="pdfFile" accept="application/pdf" required>

        <button type="submit">Upload</button>
    </form>

    <h2>PDF Content:</h2>

    <pre id="pdfContent"></pre>
</div>

<script src="js/site.js"></script>
